<main class="content">
  <h1>Electron Timer</h1>

  <div class="progress-wrapper" *ngIf="maxVal">
    <div class="text" *ngIf="!isFinished">
      {{ maxVal - currentVal | number }}
    </div>

    <div class="text" *ngIf="isFinished">
      ding!
      <audio autoplay>
        <source src="assets/chime.mp3" type="audio/mpeg" />
      </audio>
    </div>

    <round-progress [current]="currentVal" [max]="maxVal" [radius]="100" [stroke]="25" [color]="'#45ccce'"
      [background]="'#eaeaea'" [semicircle]="false" [rounded]="true" [clockwise]="true" [animation]="'easeInOutQuart'">
    </round-progress>

  </div>

  <div class="controls-wrapper">
    <div>
      <label><p>Seconds</p></label>
      <input type="text" [(ngModel)]="max" (keydown)="reset()">
    </div>
    <button class="button is-info" *ngIf="currentVal <= 0 || this.isFinished" (click)="start()">Start</button>
    <button class="button is-danger" *ngIf="!isFinished" (click)="finish()">Finish</button>
  </div>

</main>
